// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;


$fa-font-path: "../webfonts";

$crescer_base: #41285c;
$crescer_base1: #000000;
$crescer_base2: #FFFFFF;
$crescer_sec1: #295C28;
$crescer_sec2: #295C28;
$crescer_sec3: #7E4EB1;
$crescer_sec4: #BEA6D8;
$crescer_sec5: #5C2829;
$crescer_sec6: #5C5B28;
